# Variables homework

Advice for homework and life: try, play, experiment; don't Google until you get frustrated.

You can't break anything with Python, so, if you want to figure something out, try until you get it to work. You'll learn more and you'll remember it longer and more deeply.

---

In general, the homework question will consist of the question in a markdown cell, a code cell for you to play in, repeating as needed,  and a final markdown cell for your answer or explanation *that will be in italics*.

But do feel free to add or delete cells as you feel appropriate. The important thing is you get your point across!

---

### 1.

Make an integer: `theAnswer = 42`.
Now make another: `anotherNameForTheAnswer = 42`
(You don't have to use these exactly, but make sure you have two different names referring to the same exact value.)

In [1]:
theAnswer = 42
anotherNameForTheAnswer = 42

Get and note the ID numbers for both.

In [2]:
id(theAnswer)

4354552440

In [4]:
id(anotherNameForTheAnswer)

4354552440

Assign each name to a completely different number and confirm that each name now refers to an object with a new ID.

In [5]:
theAnswer = 7
anotherNameForTheAnswer = 7

Do a `whos` to confirm that *no* names refer to the original value.

In [6]:
whos

Variable                  Type    Data/Info
-------------------------------------------
anotherNameForTheAnswer   int     7
theAnswer                 int     7

Finally, assign a new name to the original value, and get its ID.

In [7]:
originalOne = 42
id(originalOne)

4354552440

*The id's for the original one and the new one made are the same. This shows that integers are immutableâ€“they cannot be changed after they are made.*

---

### 2.

Convert both possible Boolean values to strings and print them.

In [10]:
bol1 = True 
bol0 = False
str(bol1)

'True'

In [11]:
str(bol0)

'False'

Now convert some strings to Boolean until you figure out "the rule".

In [12]:
bool("Hello There")

True

In [13]:
bool("False")

True

In [16]:
bool("")

False

In [17]:
bool("I love tea")

True

*Essentially everything will be True except blank strings they will be False.*

---

### 3.

Make three variables:

* a Boolean equal to True
* an int (any int)
* a float

Try all combinations of adding two of the variables pairwise.

In [18]:
varBoolean = True
varInt = 77
varFlo = 5.236

In [19]:
varBoolean + varInt

78

In [20]:
varBoolean + varFlo

6.236

In [21]:
varFlo + varInt

82.236

*If you add an integer and a float the results will be a float. If you add a boolean to a float or integer, False would be considered as 0 and True will be considered as 1.*

---

### 4.

Make an int (any int) and a string containing a number (e.g. num_str = '64'). Try

* adding them
* adding them converting the number to a string
* adding them converting the string to a number

In [22]:
anyint = 88
num_str = '10'

In [24]:
anyint + int(num_str)

98

In [25]:
str(anyint) + (num_str)

'8810'

In [26]:
anyint + num_str

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Try converting a `str` that is a spelled out number (like 'forty two') to an int.

In [28]:
num_spelled = 'forty two'
int(num_spelled)

ValueError: invalid literal for int() with base 10: 'forty two'

*That did not workout, there was an error message*

---

### 5.

Make a variable that is a 5 element tuple.

In [29]:
five_element = (1, 4, 'five', 7, 88)

Extract the last 3 elements.

In [31]:
five_element[-3:]

('five', 7, 88)

---

### 6.

Make two variables containing tuples (you can create one and re-use the one from #5). Add them using "+".

In [32]:
my_tupple = (6, 7, 8, 19, 66)
my_tupple + five_element

(6, 7, 8, 19, 66, 1, 4, 'five', 7, 88)

Make two list variables and add them.

In [33]:
list1 = (6, 8, 9)
list2 = (9, 76, 89)
list1 + list2

(6, 8, 9, 9, 76, 89)

Try adding one of your tuples to one of your lists.

In [34]:
list1 + my_tupple

(6, 8, 9, 6, 7, 8, 19, 66)

*Essentially, the contents of the tupple's elements get added to the list, whereas with bools and floats the the bool is converted to the integer value and it adds via addition and you get the sum of the two.*

---

### 7.

*Yes, but not everytime, because you can have a string that contains a number but if you print() it comes out as just the integer, so you may not differentiate*

*x = 4, y = 'Hello', u = 3.14*

---

### 8.

Make a list variable in which one of the elements is itself a list (e.g. `myList = ['hi', [3, 5, 7, 11], False]`).

In [47]:
Listing = ['hello', [3, 6, 9], True]

Extract one element of the nested list - the list-within a list. Try it in two steps, by first extracting the nested list and assigning it to a new variable.

In [55]:
Listing[1]
Listing3 = Listing[1]

In [56]:
print(Listing3)

[3, 6, 9]

Now see if you can do this in one step.

In [58]:
Listing4 = Listing[1]
print(Listing4)

[3, 6, 9]

---

### 9.

Make a `dict` variable with two elements, one of which is a list.

In [59]:
mydic = {'one': 'value', 'one2': [1, 5, 6]}

Extract a single element from the list-in-a-dict in one step.

In [61]:
anElement = mydic['one2'][1]
print(anElement)

5

---

10.

Make a list variable. Consider that each element of the list is logically an *object* in and of itself. Confirm that one or two of these list elements has its own unique ID number.

In [62]:
listVariable = [1, "Hello", [3, 88], 7.00]

*The id's are the same, since they reference the same object*

In [63]:
id(listVariable[0])

4354551128

In [64]:
new = listVariable[0]
id(new)

4354551128

*Are the IDs the same, or is a new object created when you assigned the list element to new variable?*

---

### 11.

Make a `str` variable containing the first 5 letters of the alphabet (e.g. `a2e = 'abcde'`). Check the ID of the second (index = 1) element (the 'b').

In [65]:
alpha = 'abcde'
id(alpha[1])

4354597224

Now make a `str` variable containing the letter 'b'. Check its ID.

In [68]:
em = 'b'
id(em)

4354296056

*They have different id numbers, each string is immutable so it is different in the memory.*