In [1]:
anObject = 42

In [2]:
anObject

42

In [3]:
type(anObject)

int

In [4]:
anObject.bit_length()

6

In [5]:
a = 55

In [6]:
type(a)

int

In [7]:
a.bit_length()

6

In [8]:
notAnotherObject = 42

In [9]:
id(anObject)

4449976952

In [10]:
id(notAnotherObject)

4449976952

In [11]:
anObject = 11

In [12]:
print(anObject)

11

In [14]:
print(f"The ids are {id(anObject)} for anObject \ and {id(notAnotherObject)} for notAnotherObject")

The ids are 4449975960 for anObject \ and 4449976952 for notAnotherObject

In [15]:
aList = [1,
        3,
        5]
aList

[1, 3, 5]

In [16]:
eleven = 11

In [17]:
whos

Variable           Type    Data/Info
------------------------------------
a                  int     55
aList              list    n=3
anObject           int     11
eleven             int     11
notAnotherObject   int     42

We have 5 items, there are 4 unique objects

In [18]:
aBool = True

In [19]:
anotherBool = False

In [20]:
type(aBool)

bool

In [21]:
type(anotherBool)

bool

In [22]:
ObjectBool = False

In [23]:
Object2Bool = True

In [24]:
id(ObjectBool)

4449974600

In [25]:
id(Object2Bool)

4449974632

Each boolean has it's own unique id number

In [26]:
bool(0)

False

In [27]:
bool(78)

True

In [33]:
bool(-9)

True

In [28]:
int(False)

0

In [29]:
int(True)

1

In Python False is equivalent to 0 and True is equivalent to 1

In [30]:
w = 77

In [31]:
type(w)

int

In [32]:
x = 77.00
type(x)

float

In [34]:
aStr = "Hello!"

In [35]:
aStr

'Hello!'

In [41]:
f_num = 7.998

In [42]:
f_str = "7.998"

In [43]:
type(f_num)

float

In [44]:
type(f_str)

str

In [45]:
f_str + f_str

'7.9987.998'

In [46]:
f_num + f_num

15.996

In [47]:
f_num + f_str

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [48]:
f_str + f_num

TypeError: can only concatenate str (not "float") to str

In [49]:
aStr[0]

'H'

I believe that multi-element strings are when a string contains different object types.

In [50]:
myTup = (9, 8, 7)

In [51]:
myTup

(9, 8, 7)

In [52]:
myTup[0]

9

In [53]:
myTup[0:2]

(9, 8)

In [57]:
myTup = (3, '4', 'five', True)
myTup

(3, '4', 'five', True)

In [58]:
myTup[2] = five

NameError: name 'five' is not defined

In [59]:
myList = [True, 'Hey', 7, 4.5]

In [61]:
myList[1] = "Thank"

In [62]:
myList

[True, 'Thank', 7, 4.5]

In [64]:
myDict = {'name': 'Mary',
         'age': 21, 
         'school': 'UT_Austin',
         'gpa': 3.89}
myDict

{'name': 'Mary', 'age': 21, 'school': 'UT_Austin', 'gpa': 3.89}

In [65]:
myDict['name']

'Mary'

In [66]:
expDict = {'data': '10July2023',
          'time': '1620CST',
          'experimenter': 'FGauss',
          'data': [245.3, 232.9 , 238.6, 222.2, 250.1]}

In [67]:
just_a_list = expDict['data']

In [68]:
just_a_list

[245.3, 232.9, 238.6, 222.2, 250.1]

In [69]:
immStr = 'You cannot change me!'
immStr

'You cannot change me!'

In [70]:
immStr[0] = Yoo

NameError: name 'Yoo' is not defined

In [71]:
immStr[2] = Yoo

NameError: name 'Yoo' is not defined

In [72]:
immStrCopy = immStr

In [73]:
immStr = 'You cannot change me either!'

In [74]:
id(immStrCopy)

4583347728

In [75]:
id(immStr)

4583873296

In [76]:
print(immStrCopy)

You cannot change me!

In [77]:
print(immStr)

You cannot change me either!

In [78]:
mList = ['you', 'can', 'change', 'me']
mListCopy = mList

In [79]:
mList[0] = 'anyone'

In [80]:
print(mListCopy)

['anyone', 'can', 'change', 'me']

In [81]:
id(mListCopy)
id(mList)

4584002880

In [82]:
id(mList)

4584002880

id(mList)

In [1]:
yourNameVar = "wala"

In [2]:
dir(yourNameVar)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [5]:
capname = yourNameVar.capitalize()

In [6]:
print(capname)

Wala

In [7]:
who

capname	 yourNameVar

In [8]:
%who

capname	 yourNameVar

'who' displays a list of the variables in the name space

In [9]:
whos

Variable      Type    Data/Info
-------------------------------
capname       str     Wala
yourNameVar   str     wala

'whos' provides more details about the name space, it contains details about the variable's, their type in jupyter notebook.